{%load static%}
  <!--Think how to change navbar-->
</head>
<body>

<!-- component -->
<header class="header sticky top-0 bg-white shadow-md flex items-center justify-between px-8 py-02">
  <!-- logo -->
  <h1 class="w-3/12">
      <a href="{%url 'home'%}">
        <img src="{% static 'images/logo.svg' %}" alt="Logo" class="h-12 w-auto hover:text-green-500 duration-200">
      </a>
  </h1>

  <!-- navigation -->
  <nav class="nav font-semibold text-lg">
      <ul class="flex items-center">

          <li class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer active">
            <a href="{%url 'home'%}">Items</a>
          </li>

          <li class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer">
            <a href="">Add Item</a>
          </li>

          <li class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer">
            <a href="">Saved</a>
          </li>

          <li class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer">
            <a href="">About</a>
          </li>

      </ul>
  </nav>

  <!-- buttons --->
  <div class="w-3/12 flex justify-end">
      <a href="{% url 'profile' %}">
        <img src="{% static 'images/profile.svg' %}" alt="Profile" class="h-8 w-auto hover:text-green-500 duration-200">
      </a>
  </div>
</header>

</body>
</html>